@import "tailwindcss";
@import '@fontsource-variable/raleway';
@import '@fontsource/permanent-marker';

@theme {
    --color-cyan: #1a4b6b;
    --color-black: #2b2b2b;

    --font-maker: 'Permanent Marker', cursive;
}

* {
  scroll-behavior: smooth;
}

body {
    font-family: 'Raleway Variable', sans-serif;
    font-display: swap;
    background-color: #eef0f4;
    color: #2b2b2b;
}


::view-transition-group(root) {
    animation: none;
}

/* Transiciones de página */
::view-transition-old(root) {
  animation: fade-out 0.3s ease-in-out;
}

::view-transition-new(root) {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Transiciones personalizadas para elementos específicos */
[data-astro-transition="animate"] {
  view-transition-name: page-transition;
}

::view-transition-old(page-transition) {
  animation: slide-out 0.3s ease-in-out;
}

::view-transition-new(page-transition) {
  animation: slide-in 0.3s ease-in-out;
}

@keyframes slide-in {
  from { transform: translateX(30px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slide-out {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-30px); opacity: 0; }
}

.button {
    transition: all 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 10px #1a4b6b;
}

.button>* {
    transition: all 0.3s ease-in-out;
}

.button:hover>* {
    transform: translateX(5px) scale(1.1);
}

.button:hover>img {
    transform: translateX(5px) scale(1.4);
}